<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		
		body {
			padding-top: 230px;
		}

		.menu-section {
			text-align: center;
			background: rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			/*box-shadow: inset 0 0 10px black, 0 0 10px black;*/
		}



		.tuple-pair-buttons{
			text-align: center;
		}


		#menu-row {
			display: table;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}			

		#filter-pane {
			display: table-cell;
			float: none;
		}

		#select-display-pane {
			display: table-cell;
			float: none;
			width: 25%;
		}

		#attribute-options-pane {
			display: table-cell;
			float: none;
			width: 25%;
		}

		#misc-options-pane {
			display: table-cell;
			float: none;
		}


	</style>
</head>
<body>
	<nav class="navbar-fixed-top container-fluid">
		<div class="row" id="menu-row">
			<div class="col-sm-3 btn-group-vertical menu-section" id="filter-pane">
				<h7 class="menu-section-header">filter tuples</h7>
				<button type="button" class="btn btn-success">Show Yes <span class="badge">7</span></button>
				<button type="button" class="btn btn-danger">Show No <span class="badge">12</span></button>
				<button type="button" class="btn btn-warning">Show Not-Sure <span class="badge">3</span></button>
				<button type="button" class="btn btn-basic">Show Not Labelled<span class="badge">1</span></button>
				<button type="button" class="btn btn-default">Show All <span class="badge">1</span></button>

				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width:80%">
						<!-- todo: Change width to change progress bar appearan -->
					</div>
				</div>			
			</div>
			<div class="col-sm-3 btn-group-vertical menu-section" id="select-display-pane">
				<h7 class="menu-section-header">select tuple pair display</h7>
				<button type="button" class="btn btn-default">Horizontal<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default">Vertical</button>
				<button type="button" class="btn btn-default">One at a time</button>
			</div>
			<div class="col-sm-3 menu-section" id="attribute-options-pane">
				hello world
			</div>
			<div class="col-sm-3 menu-section" id="misc-options-pane">
				hello world
			</div>
		</div>	
	</nav>
	<div class="container-fluid">
		<!-- todo: make this div a separate template -->
		<!-- make this div a separate template -->
		<div class="row" id="content-row">
			<div class="col-sm-12" id="tuple-pair-pane">
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
				<div class="tuple-pair-div">
					<table class="table table-bordered">
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
						<tr class="success">
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
							<td>
								Hello
							</td>
						</tr>
					</table>
					<div class="tuple-pair-buttons">
						<button class="btn btn-md btn-success">yes</button>
						<button class="btn btn-md btn-danger">no</button>
						<button class="btn btn-sm btn-warning">maybe</button>
						<!-- todo: check bootstrap modals -->
						<button class="btn btn-sm btn-default">show tuple pair</button>
					</div>	
				</div>
			</div>

		</body>
		</html>