<!DOCTYPE html>
<html lang="en">
<head>
    <title>Magellan Labeller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <style type="text/css">

        body {
            padding-top: 230px;
        }

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
        }

        .menu-section {
            text-align: center;
            background: #F0F8FF;
            border-right: 3px solid #F0FFFF;
            /*box-shadow: inset 0 0 10px black, 0 0 10px black;*/
        }

        {#        todo 4/7/17 change when labels change#}
        .Yes {
            background-color: rgba(76, 175, 80, 0.3);
        }

        .Not-Sure {
            background-color: #fcf8e3;
        }

        .Not-Labeled {
            background-color: rgba(158, 158, 158, 0.3);
        }

        .Not-Matched {
            background-color: #f2dede;
        }

        .tuple-pair-buttons-div {
            text-align: center;
            margin-bottom: 10px;
        }

        .table {
            margin-bottom: 2px;
            /*over-riding bootstrap's margin-bottom*/
        }

        .pagination {
            margin: 3px;
        }

        .show-tuple-pair td {
            word-wrap: break-word;
        }

        #menu-row {
            display: table;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        #filter-pane {
            display: table-cell;
            float: none;
        }

        #select-display-pane {
            display: table-cell;
            float: none;
        }

        #attribute-display-pane {
            display: table-cell;
            float: none;
        }

        #misc-options-pane {
            display: table-cell;
            float: none;
        }

        #checkbox-div {
            height: 68%;
            overflow: hidden;
            padding-bottom: 40px;
            overflow-y: auto;
            text-align: left;
        }

        #attribute-display-button {
            float: right;
            margin-top: 1%;
            width: 100%;
        }

        #pagination-div {
            background-color: rgba(23, 27, 23, 0.5);
            color: #f7f7f7;
            text-align: right;
            padding-top: 0px;
            border: 1px solid;
        }

        #options-change-button {
            float: right;
            margin-top: 1%;
            width: 100%;
        }

        #save-button {
            float: left;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src=":/qtwebchannel/qwebchannel.js"></script>

    <script type="text/javascript">

        var current_page = {{ current_page|int }};


        function change_page(page_number) {
            current_page = page_number;
            new QWebChannel(qt.webChannelTransport, function (channel) {
                {# todo 3/26/17 change function name #}
                channel.objects.pagination_controller.get_page_html(page_number);
            });

        }

        function filter_tuples(label) {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                channel.objects.filter_controller.get_filtered_tuple_pairs(label);
            });
        }

        function change_label(tuple_pair_id, new_label) {
            {#            alert(tupleId + " " + newLabel);#}
            new QWebChannel(qt.webChannelTransport, function (channel) {
                document.getElementById(tuple_pair_id).className = "table table-bordered " + new_label;
                channel.objects.label_controller.change_label(tuple_pair_id, new_label);
            });
        }

        function edit_comments(tuple_pair_id, comments) {
            var comments = prompt("Edit comments", comments);
            if (comments == null) comments = "";
            var element = document.getElementById("comments_" + tuple_pair_id);
            element.innerHTML = comments;
            new QWebChannel(qt.webChannelTransport, function (channel) {
                channel.objects.label_controller.edit_comments(tuple_pair_id, comments);
            });
        }

        function edit_tags(tuple_pair_id, tags) {
            var tags = prompt("Enter comma separated tags", tags);
            if (tags == null) tags = "";
            var element = document.getElementById("tags_" + tuple_pair_id);
            element.innerHTML = tags;
            new QWebChannel(qt.webChannelTransport, function (channel) {
                channel.objects.label_controller.edit_tags(tuple_pair_id, tags);
            });
        }

        function change_layout(new_layout) {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                channel.objects.pagination_controller.change_layout(new_layout);
            });
        }

        function filter_attributes() {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                var checkedBoxes = document.querySelectorAll('input[name=attribute_filter]:checked');
                var checkboxesChecked = "";
                for (i = 0; i < checkedBoxes.length; i++) {
                    checkboxesChecked = checkboxesChecked.concat(checkedBoxes[i].id);
                    checkboxesChecked = checkboxesChecked.concat(",");
                }
                channel.objects.filter_controller.filter_attribute(checkboxesChecked);
            });

        }

        function save_data(save_file_name) {
            if (save_file_name == null || save_file_name == "default_save_file") {
                {# todo: better way to do default file name#}
                var save_file_name = prompt("Please enter your name", save_file_name);
                if (save_file_name == null)
                    alert("Save file name can't be empty");
            }
            if (save_file_name != null) {
                alert(save_file_name);
                new QWebChannel(qt.webChannelTransport, function (channel) {
                    channel.objects.pagination_controller.save_data(save_file_name);
                });
            }

        }
    </script>
</head>
<body>
<nav class="navbar-fixed-top container-fluid">
    <div class="row" id="menu-row">

        <div class="col-sm-3 btn-group-vertical menu-section" id="filter-pane">
            <h7 class="menu-section-header">filter tuples</h7>
            <button type="button" class="btn btn-success" onclick=filter_tuples('Yes')>Show Yes <span
                    class="badge">{{ match_count|int }}</span>
            </button>
            <button type="button" class="btn btn-danger" onclick=filter_tuples('Not-Matched')>Show No <span
                    class="badge">{{ not_match_count|int }}</span>
            </button>
            <button type="button" class="btn btn-warning" onclick=filter_tuples('Not-Sure')>Show Not-Sure <span
                    class="badge"> {{ not_sure_count|int }}</span>
            </button>
            <button type="button" class="btn btn-basic" onclick=filter_tuples('Not-Labeled')>Show Not Labelled <span
                    class="badge">{{ unlabeled_count|int }}</span></button>
            <button type="button" class="btn btn-info active" onclick=filter_tuples('All')>Show All <span
                    class="badge">{{ total_count }}</span>
            </button>

        </div>


        <div class="col-sm-3 btn-group-vertical menu-section" id="select-display-pane">
            <h7 class="menu-section-header">select tuple pair display</h7>
            <button type="button" class="btn btn-default active" onclick=change_layout("horizontal")>Horizontal</button>
            <button type="button" class="btn btn-default" onclick=change_layout("vertical")>Vertical</button>
            <button type="button" class="btn btn-default" onclick=change_layout("single")>One at a time</button>
        </div>

        <div class="col-sm-3 menu-section" id="attribute-display-pane">
            <h7 class="menu-section-header">select which attributes to show</h7>
            <div id="checkbox-div">
                <div class="checkbox">
                    <label>
                        <input name="attribute_filter" type="checkbox" id="_show_all"> Show all Attributes
                    </label>
                </div>

                {% for attribute in attributes %}
                    <div class="checkbox">
                        <label>
                            <input name="attribute_filter" id={{ attribute }} type="checkbox"> {{ attribute }}
                        </label>
                    </div>
                {% endfor %}

            </div>

            <button type="button" class="btn btn-info" id="attribute-display-button" onclick=filter_attributes()>Change Displayed Attributes
            </button>
        </div>


        <div class="col-sm-3 menu-section" id="misc-options-pane">
            <h7 class="menu-section-header">Other options</h7>
            <br>

            <label>Maximum number of tokens to show per attribue</label>
            <input type="number" name="attribute-token-count" placeholder={{ tokens_per_attribute }}>
            <button type="button" class="btn btn-sm btn-info" id="options-change-button">Change Number of Tokens</button>
            <br><br>
            {# todo: remove br and add padding #}
            <button type="button" class="btn btn-md btn-info" id="save-button" onclick=save_data('{{ save_file_name }}')>
                Save to file <br><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <!-- todo: make this div a separate template ? -->
    <!-- make this div a separate template -->
    <div class="row" id="content-row">
        <div class="col-sm-12" id="tuple-pair-pane">


            {% for tuple_pair in tuple_pairs %}
                {# Tuple pair tables #}
                <div class="tuple-pair-div">
                    <table class="{{ tuple_pair['label'] + ' table table-bordered' }}" id={{ tuple_pair['_id'] }}>
                        <tr>
                            {% for attribute in attributes %}
                                <td>
                                    <strong>{{ attribute }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for attribute in attributes %}
                                <td>
                                    {{ tuple_pair["ltable."+attribute]|string|truncate(tokens_per_attribute+3, True, '...', 0)}}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for attribute in attributes %}
                                <td>
                                    {{ tuple_pair["rtable."+attribute]|string|truncate(tokens_per_attribute+3, True, '...', 0)}}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><strong>Comments</strong></td>
                            <td colspan="{{ attributes|length - 1 }}">
                                <em id="{{ 'comments_'+tuple_pair['_id']|string }}">{{ tuple_pair[comments_col] }}</em>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Tags</strong></td>
                            <td colspan="{{ attributes|length - 1 }}">
                                <em id="{{ 'tags_'+tuple_pair['_id']|string }}">{{ tuple_pair[tags_col] }}</em>
                            </td>
                        </tr>
                    </table>

                    {# Change label buttons #}
                    <div class=" tuple-pair-buttons-div">
                        <button class="btn btn-md btn-success"
                                onclick="change_label({{ tuple_pair['_id'] }}, 'Yes')">
                            yes
                        </button>
                        <button class="btn btn-md btn-danger"
                                onclick="change_label({{ tuple_pair['_id'] }}, 'Not-Matched')">no
                        </button>
                        <button class="btn btn-sm btn-warning"
                                onclick="change_label({{ tuple_pair['_id'] }}, 'Not-Sure')">maybe
                        </button>
                        <button class="btn btn-sm btn-default"
                                onclick="edit_comments({{ tuple_pair['_id'] }}, '{{ tuple_pair[comments_col] }}')">edit comments
                        </button>
                        <button class="btn btn-sm btn-default"
                                onclick="edit_tags({{ tuple_pair['_id'] }}, '{{ tuple_pair[tags_col] }}')">edit tags
                        </button>
                        <!-- todo: check bootstrap modals -->
                        <button class="btn btn-sm btn-default" data-toggle="modal"
                                data-target={{ "#"+tuple_pair['_id']|string +"modal" }}>show tuple pair
                        </button>

                        <div class="modal fade" role="dialog" id={{ tuple_pair['_id']|string +"modal" }}>
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Tuple pair id {{ tuple_pair['_id'] }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {# todo: replace with actual tuple pair#}
                                        <div>
                                            <table class="{{ tuple_pair['label']+' table table-bordered show-tuple-pair' }}">
                                                <tr>
                                                    <td><strong>Attribute</strong></td>
                                                    <td><strong>Table 1</strong></td>
                                                    <td><strong>Table 2</strong></td>
                                                </tr>
                                                {% for attribute in attributes %}
                                                    <tr>
                                                        <td>
                                                            <strong>{{ attribute }}</strong>
                                                        </td>
                                                        <td>
                                                            {{ tuple_pair["ltable."+attribute]|string }}
                                                        </td>
                                                        <td>
                                                            {{ tuple_pair["rtable."+attribute]|string }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            {% endfor %}
            {# End of foreach tuple pair #}

        </div>
    </div>
    <div class="navbar-fixed-bottom" id="pagination-div">
        <ul class="pagination pagination-sm">
            {% for i in range(current_page-3, current_page+3) %}
                {% if current_page == i %}
                    <li class="active"><a href="#" onclick="change_page({{ i }})">{{ i }}</a></li>
                {% else %}
                    <li><a href="#" onclick="change_page({{ i }})">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>
</body>
</html>