<h5>Tuple pairs</h5>
{% for row in data %}
    <table class={{ "label_"+row['label'] }}>
        {#            class={{ "label_"+row['label'] }}#}
        <tr class="tuple_row">
            <td>{{ row['ltable.ID'] }}</td>
            <td>{{ row['ltable.birth_year'] }}</td>
            <td>{{ row['ltable.name'] }}</td>
        </tr>
        <tr class="tuple_row">
            <td>{{ row['rtable.ID'] }}</td>
            <td>{{ row['rtable.birth_year'] }}</td>
            <td>{{ row['rtable.name'] }}</td>
        </tr>
        <tr class="button_row">
            <td>
                <button id="mark_matched">yes</button>
            </td>
            <td>
                <button id="mark_not_sure">not sure</button>
            </td>
            <td>
                <button id="mark_unmatched">no</button>
            </td>
        </tr>
    </table>
{% endfor %}
